<!DOCTYPE html>
<html>
<head>

    <title>
        {% block title %}MakeBook{% endblock %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="/static/js/jquery-2.0.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- Block to give us access to the head of the page --!>
    {% block head %}

    {% endblock %}

  </head>
  <body>
    <!-- Fixed navbar -->
    <script type="text/javascript">
        $(document).ready(function () {

            if (window.location.href.indexOf("Projects") > -1) {
                $(function () {
                    $("li.Projects").removeClass("Projects").addClass("active");
                });
            }
            else if (window.location.href.indexOf("Orders") > -1) {
                $("li.Orders").removeClass("Orders").addClass("active");
            }
            else if (window.location.href.indexOf("Deliveries") > -1) {
                $("li.Deliveries").removeClass("Deliveries").addClass("active");
            }
            else {
                $("li.Home").removeClass("Home").addClass("active");
            }

        });
    </script>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MakeBook</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="Home"><a href="/">Home</a></li>
                <li class="Projects"><a href="/Projects">Projects</a></li>
                <li class="Orders"><a href="/Orders">Orders</a></li>
                <li class="Deliveries"><a href="/Deliveries">Deliveries</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<br/>

{% block contents %}

{% endblock %}
</div>
</body>
</html>