{% extends "base.html" %}

{% block contents %}
    <div class="page-header">
        <h1>BoM Detail - {{ bom.name }}</h1>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <p>{{ bom.description }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <table class="table">
                <thead>
                <tr>
                    <th>Part Name</th>
                    <th>Part Source</th>
                    <th>Part Description</th>
                    <th>Cost</th>
                    <th>Quantity</th>
                    <th>Total Cost</th>
                </tr>
                </thead>
                <tbody>
                {% for part in parts %}
                    <tr>
                        <td>{{ part.part.name }}</td>
                        <td>{{ part.part.source }}</td>
                        <td>{{ part.part.description }}</td>
                        <td>{{ part.part.cost }}</td>
                        <td>{{ part.quantity }}</td>
                        <td id="total_cost"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}