{% extends "base.html" %}

{% block head %}

    <script type="text/javascript">
        function saveTask() {
            task_name = $("#tasktitle").val();
            task_description = $("#taskdescription").val();
            $.post("/Projects/Detail/{{ project.id }}/AddTask/", {datadict: JSON.stringify({task_title: task_name,
                task_description: task_description})}, function (response) {
                $('#addtaskmodal').modal('toggle');
            });
        }

        function toggleTask(id, caller) {
            $.post("/Projects/Detail/{{ project.id }}/ToggleTask/"+id+"/");
            if (caller.hasClass("glyphicon-ok-circle")){
                caller.removeClass("glyphicon-ok-circle");
                caller.addClass("glyphicon-remove-circle");
                caller.css("color","red");
            } else {
                caller.removeClass("glyphicon-remove-circle");
                caller.addClass("glyphicon-ok-circle");
                caller.css("color","green");
            }

        }
    </script>

{% endblock %}

{% block contents %}
    <div class="page-header">
        <h1>Project Detail - {{ project.title }}</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Bills of Materials</h3>
                </div>
                <div class="panel-body">
                    {% if BoMs %}
                        <ul>
                            {% for bom in BoMs %}
                                <li><a href="/BoM/Detail/{{ bom.bom.id }}/">{{ bom.bom.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        No BoMs
                    {% endif %}
                    <hr />
                    <form action="/BoM/New/" method="post" id="BoMForm">
                        {% csrf_token %}
                        <input type="hidden" name="projid" value="{{ project.id }}" />
                    </form>
                    <button type="button" class="btn btn-default btn-sm" onclick="$('#BoMForm').submit();">
                      <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Current Tasks</h3>
                </div>
                <div class="panel-body">
                    {% if tasks %}
                       <table class="table">
                            <thead>
                                <tr><th>Priority</th><th>Title</th><th>Complete</th></tr>
                            </thead>
                            <tbody>
                            {% for task in tasks %}
                                <tr><td>{{ task.priority }}</td><td>{{ task.title }}</td>
                                <td>{% if task.completed %}
                                        <span class="glyphicon glyphicon-ok-circle" style="color: green" onclick="toggleTask({{ task.id }}, $(this));"></span>
                                    {% else %}
                                        <span class="glyphicon glyphicon-remove-circle" style="color: red;" onclick="toggleTask({{ task.id }}, $(this));"></span>
                                    {% endif %}
                                </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        No projects
                    {% endif %}
                    <hr/>
                    <button type="button" class="btn btn-default btn-sm" onclick="$('#addtaskmodal').modal('toggle')">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    </button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Recent Orders</h3>
                </div>
                <div class="panel-body">
                    {% if orders %}
                        <ul class="unstyled">
                        {% for order in orders %}
                            <li><a href="/Order/{{ order.id }}//">{{ order.part.name }}</a></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        No orders placed
                    {% endif %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Expected Deliveries</h3>
                </div>
                <div class="panel-body">
                    {% if deliveries %}
                        <ul class="unstyled">
                        {% for delivery in deliveries %}
                                <li><a href="/Order/{{ order.id }}">{{ order.part.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        No deliveries expected
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- /.col-sm-4 -->
        <div class="col-sm-7">
            <p>MakeBook is your one stop shop for information on your ongoing projects. Select a menu item from the top,
                or
                an item from the left to begin </p>
        </div>
    </div>
    <div class="modal fade" id="addtaskmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Create Task</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="tasktitle" class="form-control">Task Title</label>
                        <input type="text" id="tasktitle" class="form-control" placeholder="Title"/>
                    </div>
                    <div class="form-group">
                        <label for="taskdescription" class="form-control">Task Description</label>
                        <textarea id="taskdescription" class="form-control"
                                  placeholder="Describe your task here"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="saveTask();">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}