{% extends "base.html" %}

{% block head %}
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js"></script>
    <link href="/static/css/datepicker.css" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function () {
            $('#startDate').datepicker();

        });
        function processForm() {
            var formDict = {
                name: $('#inputName').val(),
                startDate: $('#startDate').val(),
                category: $('#inputCategory').val()
            }
            $.post('/Projects/New/Create/', {projectdata: JSON.stringify(formDict)}, function (data) {
                        window.location.href = '/Projects/';
                    }
            );
        }
    </script>
{% endblock %}

{% block contents %}
    <div class="page-header">
        <h1>Current Projects</h1>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <form role="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputName">Project Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Enter project name">
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date</label>

                    <div class="input-append date" id="dp3" data-date="12/02/2012" data-date-format="dd-mm-yyyy">
                        <input class="span2" size="16" type="text" value="12/02/2012" id="startDate">
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCategory">Category</label>
                    <input type="text" class="form-control" id="inputCategory" placeholder="Enter category name">
                </div>
                <button type="button" class="btn btn-default" onclick="processForm();">Create Project</button>
            </form>
        </div>
    </div>
{% endblock %}